.desktop {
  height: 472px;
  flex-direction: row;
  justify-content: space-around;
}

.desktop__text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 350px;
  width: 532px;
}

.desktop__text-container-title {
  width: 335px;
}

.desktop__text-container-description {
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.2px;
  color: #374754;
}

.desktop__text-container-button {
  width: 236px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  background-color: #2091f9;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: #ffffff;
  cursor: pointer;
}

.desctop__img {
  width: 661px;
  height: 350px;
}
