.desktop {
  height: 472px;
  flex-direction: row;
  justify-content: space-around;
}

.desktop__text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 350px;
  max-width: 532px;
}

.desktop__text-container-title {
  max-width: 335px;
}

.desktop__text-container-button {
  width: 236px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  background-color: var(--button-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: var(--accent-text-color);
  cursor: pointer;
}

.desctop__img {
  max-width: 661px;
  width: 100%;
  height: auto;
}

@media (max-width: 1000px) {
  .desktop {
    flex-direction: column;
    height: auto;
  }

  .desktop__text-container {
    align-items: center;
    text-align: center;
    margin-bottom: 70px;
  }
}
