.features__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 44px;
  letter-spacing: 0.2px;
  margin-bottom: 20px;
  color: #252b42;
}

.features__description {
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.2px;
  width: 530px;
  text-align: center;
  margin-bottom: 80px;
  color: #374754;
}

.features__list {
  width: 870px;
  height: 257px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.features__list-item {
  width: 255px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.features__list-item-icon {
  width: 60px;
  height: 60px;
  margin-bottom: 15px;
}

.features__list-item-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  text-align: center;
  color: #252b42;
}

.features__list-item-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #374754;
}

.features__video-container {
  position: relative;
}

.features__video {
  width: 1177px;
  height: 660px;
}

.features__video-container::after {
  content: url(../images/video-button.png);
  display: block;
  width: 187px;
  height: 187px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
