.features__title {
  margin-bottom: 20px;
}

.features__description {
  max-width: 530px;
  text-align: center;
  margin-bottom: 80px;
}

.features__list {
  max-width: 870px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.features__list-item {
  width: 255px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.features__list-item-icon {
  width: 60px;
  height: 60px;
  margin-bottom: 15px;
}

.features__list-item-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  text-align: center;
  color: var(--main-text-color);
}

.features__list-item-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.2px;
  text-align: center;
  color: var(--secondary-text-color);
}

.features__video-container {
  position: relative;
}

.features__video {
  max-width: 1177px;
  width: 100%;
  height: auto;
}

.features__video-container::after {
  content: url(../images/video-button.png);
  display: block;
  width: 187px;
  height: 187px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

@media (max-width: 850px) {
  .features__list {
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }
}
