@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  --main-text-color: #252b42;
  --secondary-text-color: #374754;
  --accent-text-color: #fff;
  --button-color: #2091f9;
  --form-border-color: #dddddd;
  --input-background-color: #f5f5f5;
  --input-border-color: #e8e8e8;
  --input-text-color: #18171d;
}

h1,
h2,
h3,
h4,
p,
a,
li,
input,
textarea,
button {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

.container {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 150px;
  padding: 0 15px;
}

.title {
  font-weight: 400;
  font-size: 48px;
  line-height: 44px;
  letter-spacing: 0.2px;
  color: var(--main-text-color);
}

.description {
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.2px;
  color: var(--secondary-text-color);
}

.try-for-free-button {
  width: 236px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  background-color: var(--button-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: var(--accent-text-color);
  cursor: pointer;
}
