.header {
  background-image: url(../images/header-banner.png);
  height: 1050px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 200px;
}

.header__container {
  max-width: 1210px;
  width: 100%;
  height: 156px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 180px;
  padding: 0 15px;
}

.burger-menu {
  display: none;
}

.nav {
  margin-right: 50px;
  max-width: 437px;
  width: 100%;
}

.nav-list {
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list-item-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: var(--accent-text-color);
}

.nav-list-item-link:hover {
  color: var(--button-color);
}

.logo-wrapper-img {
  width: 205px;
}

.header__socials {
  max-width: 171px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials-item {
  width: 33px;
  height: 33px;
}

.socials-item-icon {
  width: 33px;
  height: 33px;
  fill: var(--accent-text-color);
}

.socials-item-icon:hover {
  fill: var(--button-color);
}

.header__text {
  max-width: 826px;
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  color: var(--accent-text-color);
  text-align: center;
}

.header__text-title {
  font-weight: 700;
  line-height: 84px;
  letter-spacing: 0.2;
  margin-bottom: 50px;
  font-size: calc(48px + 26 * (100vw / 1440));
}

.header__text-description {
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.2;
  margin-bottom: 80px;
  color: var(--accent-text-color);
}

@media (max-width: 940px) {
  .header {
    position: relative;
  }

  .header__container {
    flex-direction: row-reverse;
  }

  .burger-menu {
    display: block;
  }

  .burger-menu-icon {
    fill: var(--accent-text-color);
    width: 26px;
    height: 16px;
  }

  .burger-menu-close {
    fill: var(--accent-text-color);
    width: 26px;
    height: 26px;
    display: none;
  }

  .nav-list {
    display: none;
    position: absolute;
    top: 156px;
    right: 0;
    width: 100%;
    height: calc(100% - 156px);
    margin: 0;
    background-color: rgba(0, 0, 0, 0.95);
    flex-direction: column;
    padding: 100px 0;
  }

  .nav-list-item-link {
    font-size: 25px;
  }

  .header__socials {
    display: none;
  }
}

@media (max-width: 540px) {
  .header__container {
    margin-bottom: 80px;
  }
}
