.partners__title {
  margin-bottom: 40px;
}

.partners__description {
  margin-bottom: 60px;
  text-align: center;
}

.partners__list {
  max-width: 1072px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 50px;
}

.partners__list-item {
  max-width: 268px;
  height: 165px;
  border: 1px solid var(--partners-cards-border-color);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partners__list-item-img {
  width: 70%;
}

.partners__button {
  width: 236px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  background-color: var(--button-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: var(--accent-text-color);
  cursor: pointer;
}

@media (max-width: 850px) {
  .partners__list {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .partners__list-item {
    width: 268px;
  }
}

@media (max-width: 565px) {
  .partners__list {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }
}
