.pricing {
  background-color: var(--main-text-color);
}

.pricing__container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.pricing__title {
  color: var(--accent-text-color);
  margin-bottom: 40px;
}

.pricing__description {
  max-width: 532px;
  text-align: center;
  margin-bottom: 100px;
  color: var(--accent-text-color);
}

.pricing__list {
  max-width: 1105px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pricing__list-item {
  width: 335px;
  height: 607px;
  background-color: var(--accent-text-color);
  border: 1px solid var(--pricing-cards-border-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}

.pricing__list-item:hover {
  transform: scale(1, 1.07);
  transition-duration: 500ms;
  background-color: var(--button-color);
}

.pricing__list-item-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: var(--main-text-color);
}

.pricing__list-item:hover .pricing__list-item-title {
  color: var(--accent-text-color);
}

.pricing__list-item-text {
  width: 148px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.1px;
  color: var(--secondary-text-color);
  margin-bottom: 25px;
}

.pricing__list-item:hover .pricing__list-item-text {
  color: var(--accent-text-color);
}

.pricing__list-item-price {
  width: 145px;
  height: 61px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.pricing__list-item-price-amount {
  font-size: 74px;
  font-weight: 700;
  line-height: 84px;
  letter-spacing: 0.2px;
  color: var(--main-text-color);
}

.pricing__list-item:hover .pricing__list-item-price-amount {
  color: var(--accent-text-color);
}

.pricing__list-item-price-container {
  width: 80px;
  height: 51px;
  display: flex;
  flex-direction: column;
}

.pricing__list-item-price-container-icon {
  width: 13px;
  height: 28px;
  fill: var(--main-text-color);
}

.pricing__list-item:hover .pricing__list-item-price-container-icon {
  fill: var(--accent-text-color);
}

.pricing__list-item-price-container-period {
  width: 78px;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.1px;
  color: var(--secondary-text-color);
}

.pricing__list-item:hover .pricing__list-item-price-container-period {
  color: var(--accent-text-color);
}

.pricing__list-item__features {
  width: 255px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.pricing__list-item__features-item {
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: var(--main-text-color);
}

.pricing__list-item:hover .pricing__list-item__features-item {
  color: var(--accent-text-color);
}

.pricing__list-item-button {
  width: 255px;
  height: 56px;
  border: none;
  border-radius: 35px;
  background-color: var(--button-color);
  color: var(--accent-text-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  cursor: pointer;
}

.pricing__list-item:hover .pricing__list-item-button {
  background-color: var(--accent-text-color);
  color: var(--button-color);
}

@media (max-width: 1050px) {
  .pricing__list {
    flex-direction: column;
    gap: 30px;
  }
}
