.subscription {
  flex-direction: row;
  justify-content: space-around;
  height: 638px;
}

.subscription__img {
  max-width: 677px;
  width: 100%;
  height: auto;
}

.subscription__text-container {
  max-width: 500px;
  height: 400px;
}

.subscription__text-container-pretitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: var(--main-text-color);
  margin-bottom: 20px;
}

.subscription__text-container-title {
  margin-bottom: 30px;
}

.subscription__text-container-subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: var(--main-text-color);
}

.subscription__text-container-text {
  margin-bottom: 30px;
}

.subscription__text-container__form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.subscription__text-container__form-input {
  width: 273px;
  height: 54px;
  border: 1px solid var(--input-border-color);
  border-radius: 39px;
  background-color: var(--input-background-color);
  padding-left: 19px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
}

.subscription__text-container__form-button {
  width: 172px;
  height: 58px;
  border: none;
  border-radius: 35px;
  background-color: var(--button-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: var(--accent-text-color);
  cursor: pointer;
}

.subscription__text-container__form-button:hover {
  background-color: var(--accent-text-color);
  color: var(--button-color);
  border: 2px solid var(--button-color);
}

@media (max-width: 1160px) {
  .subscription {
    flex-direction: column-reverse;
    height: auto;
  }

  .subscription__text-container {
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
  }

  .subscription__text-container__form {
    flex-direction: column;
    gap: 20px;
  }

  .subscription__text-container__form-input,
  .subscription__text-container__form-button {
    width: auto;
  }
}
