.subscription {
  flex-direction: row;
  justify-content: space-around;
  height: 638px;
}

.subscription__img {
  width: 677px;
  height: 514px;
}

.subscription__text-container {
  width: 500px;
  height: 400px;
}

.subscription__text-container-pretitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: #252b42;
  margin-bottom: 20px;
}

.subscription__text-container-title {
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.2px;
  color: #252b42;
  margin-bottom: 30px;
}

.subscription__text-container-subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: #252b42;
}

.subscription__text-container-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.2px;
  color: #374754;
  margin-bottom: 30px;
}

.subscription__text-container__form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.subscription__text-container__form-input {
  width: 273px;
  height: 54px;
  border: 1px solid #e8e8e8;
  border-radius: 39px;
  background-color: #f4f4f4;
  padding-left: 19px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
}

.subscription__text-container__form-button {
  width: 172px;
  height: 58px;
  border: none;
  border-radius: 35px;
  background-color: #2091f9;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #ffffff;
}
